<ion-header>
  <ion-toolbar>
    <ion-title>Informações do App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="app-info">
    <h1 class="app-title">Meu Treino</h1>
    <p class="app-description">
      Meu Treino é um aplicativo intuitivo e fácil de usar para ajudar você a planejar, monitorar e alcançar seus objetivos de treino. Seja você um iniciante ou um atleta experiente, Meu Treino oferece uma variedade de recursos para otimizar suas rotinas de exercício e manter você motivado.
    </p>

    <h2>Sobre o Aplicativo</h2>
    <p>
      Este aplicativo foi desenvolvido para auxiliar no acompanhamento e planejamento de treinos de musculação e cárdio. Ele permite adicionar, editar e remover treinos, além de oferecer funcionalidades avançadas para análise de desempenho e progresso.
    </p>
    <p>
      Desenvolvido por Gilvonaldo Cavalcanti.
    </p>
    <p>
      Versão 1.0.0.
    </p>
  </div>
</ion-content>
