<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Medições
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="medidas" (ionChange)="mudarSegment($event)">
    <ion-segment-button value="medidas">
      <ion-label>Minhas Medidas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="estatisticas">
      <ion-label>Estatísticas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segmentoSelecionado === 'medidas'">
    <ion-card *ngFor="let avaliacao of avaliacoes; let i = index">
      <ion-card-header>
        <ion-card-subtitle>Data da Avaliação: {{ formatarData(avaliacao.data) }}</ion-card-subtitle>
        <ion-card-title>Avaliação</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Ombro:</strong> {{ avaliacao.ombro }}</p>
        <p><strong>Tórax:</strong> {{ avaliacao.torax }}</p>
        <p><strong>Abdomen:</strong> {{ avaliacao.abdomen }}</p>
        <p><strong>Braço Direito:</strong> {{ avaliacao.bracoDireito }}</p>
        <p><strong>Braço Esquerdo:</strong> {{ avaliacao.bracoEsquerdo }}</p>
        <p><strong>Antebraço Direito:</strong> {{ avaliacao.antebracoDireito }}</p>
        <p><strong>Antebraço Esquerdo:</strong> {{ avaliacao.antebracoEsquerdo }}</p>
        <p><strong>Coxa Direita:</strong> {{ avaliacao.coxaDireita }}</p>
        <p><strong>Coxa Esquerda:</strong> {{ avaliacao.coxaEsquerda }}</p>
        <p><strong>Perna Direita:</strong> {{ avaliacao.pernaDireita }}</p>
        <p><strong>Perna Esquerda:</strong> {{ avaliacao.pernaEsquerda }}</p>
        <p><strong>Peso:</strong> {{ avaliacao.peso }} Kg</p>
      </ion-card-content>
      <ion-item>
        <ion-buttons slot="start">
          
          <ion-button color="warning" (click)="editAvaliacao(i)">
            Editar
          </ion-button>
          <ion-button color="danger" (click)="excluirAvaliacao(i)">
            Excluir
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="segmentoSelecionado === 'estatisticas'">
    <h5 class="centralizar-titulo">Evolução das Medidas</h5>
    <ion-item *ngFor="let medida of medidas">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ medida.label }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas id="{{ medida.label + 'Canvas' }}"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openModal()" class="botao-cadastro-treinos">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
